p.caption {
  color: #777;
  margin-top: 20px;
}
h1, h2, h3, p, body, ul, ol {
  font-family: "Times New Roman";
  font-size: 17px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
